@import '../../styles/variables';
.logo{
	max-width:120px;
}
.logoWrap{
	cursor: pointer;
}
.linkMenu{
	padding:0.5rem 1rem;
	color:#fff;
	font-weight: 400;
	font-size: 1rem;
}


.divider{
	background-color: $primary-lighten !important;
	margin: 0 2rem !important;
}

.link{
	cursor: pointer;
}

.iconColor{
	color:#fff;
}

@include max-media($tb-w){
	.divider{
		margin: 0 1rem !important;
	}
}
